
.vs/

NTDLS.UDPPacketFraming/bin/

NTDLS.UDPPacketFraming/obj/

PacketFraming.TestHarness.Client/bin/

PacketFraming.TestHarness.Client/obj/

PacketFraming.TestHarness.Server/bin/

PacketFraming.TestHarness.Server/obj/

PacketFraming.TestHarness.Shared/bin/

PacketFraming.TestHarness.Shared/obj/
