
.vs/

NTDLS.UDPPacketFraming/bin/

NTDLS.UDPPacketFraming/obj/

PacketFraming.TestHarness.Client/bin/

PacketFraming.TestHarness.Client/obj/

PacketFraming.TestHarness.Server/bin/

PacketFraming.TestHarness.Server/obj/

PacketFraming.TestHarness.Shared/bin/

PacketFraming.TestHarness.Shared/obj/

NTDLS.DatagramMessaging/bin/

NTDLS.DatagramMessaging/obj/

PacketFraming.TestHarness.ServerByConvention/bin/

PacketFraming.TestHarness.ServerByConvention/obj/

PacketFraming.TestHarness.ServerByEvent/obj/

TestHarness/Client/bin/

TestHarness/Client/obj/

TestHarness/ServerByConvention/obj/

TestHarness/ServerByConvention/bin/

TestHarness/ServerByEvent/bin/

TestHarness/ServerByEvent/obj/

TestHarness/Shared/obj/Debug/

TestHarness/Shared/obj/

TestHarness/Shared/bin/Release/

TestHarness/Shared/bin/
